body {
  margin: 0;
  padding: 0;
  background-color: #efefff;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.scaled {
  background-color: #000000;
  overflow: hidden;
}

.debugger {
  margin-left: 840px;
  font-size: 1.4em;
  line-height: 1.4em;
}

.debugger > ul {
  list-style-type: none;
  padding: 0;
}

.game-metadata img {
  height: 1.4em;
  width: 1.4em;
  vertical-align: bottom;
}

.game-metadata .url {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.8em;
}

body.natural #engine-container {
  width: 800px;
  height: 600px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.9),
    0 8px 16px -8px rgba(0, 0, 0, 0.95), 0 -6px 16px -6px rgba(0, 0, 0, 0.5);
}

body.scaled #engine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body.natural #engine-container,
body.natural #engine-container canvas {
  border-radius: 16px;
}

.deployed #engine-container {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

body.natural .stream #engine-container {
  position: fixed;
  top: 16px;
  left: 16px;
}

.deployed #engine-container.activate {
  position: relative;
}

#engine-container.activate {
  background-size: 800px 600px;
  background-repeat: no-repeat;

  cursor: pointer;
  font-size: 2em;
  color: white;
}

#engine-container #controls {
  position: absolute;
  bottom: 2px;
  right: 40px;
  height: 32px;
}

body.scaled #engine-container #controls {
  opacity: 0;
  transition: opacity 0.5s linear;
  position: fixed;
  bottom: 20px;
  background: #191919;
  border-radius: 16px;
  padding: 8px 16px;
}

body.scaled.mouseMoved #engine-container #controls {
  opacity: 1;
}

#engine-container #controls .volume,
#engine-container #controls .fullscreen {
  display: inline-flex;
  vertical-align: middle;
  color: white;
}

#engine-container #controls div + div {
  margin-left: 20px;
}

#engine-container #controls .fullscreen .button {
  cursor: pointer;
  border: 1px solid white;
  padding: 0px 4px;
  height: 20px;
  transition: background-color 0.2s linear;
  background-color: #000000;
  border-radius: 4px;
}

#engine-container #controls .fullscreen .button:hover {
  background-color: #303030;
}

#engine-container #controls .fullscreen .label {
  transform: rotate(-45deg);
  font-weight: bold;
  font-size: 18px;
  width: 14px;
  line-height: 24px;
}

.game-metadata {
  margin-top: 2em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
}

.game-metadata a {
  text-decoration: none;
}

.game-metadata h2 {
  font-style: italic;
}

.cover {
  position: absolute;
  width: 800px;
  height: 600px;
}

body.scaled .debugger {
  display: none;
}

.debugger .dg.main > .close-button {
  display: none;
}

.debugger .dg .property-name {
  width: 60%;
}

.debugger .dg .c {
  width: 40%;
}

.debugger .dg li:not(.folder):nth-child(even) {
  background: #202020;
}

.debugger .dg .cr.function:hover,
.debugger .dg .cr.boolean:hover {
  background: #3c3c3c !important;
}
