body {
  margin: 0;
  padding: 0;
  background-color: #efefff;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.debugger {
  margin-left: 840px;
  font-size: 1.4em;
  line-height: 1.4em;
}

.debugger > ul {
  list-style-type: none;
  padding: 0;
}

.game-metadata img {
  height: 1.4em;
  width: 1.4em;
  vertical-align: bottom;
}

.game-metadata .url {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.8em;
}

#engine {
  width: 800px;
  height: 600px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.9),
    0 8px 16px -8px rgba(0, 0, 0, 0.95), 0 -6px 16px -6px rgba(0, 0, 0, 0.5);
}

#engine,
#engine canvas {
  border-radius: 16px;
}

.deployed #engine {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.stream #engine {
  position: fixed;
  top: 16px;
  left: 16px;
}

.deployed #engine.activate {
  position: relative;
}

#engine.activate {
  background-size: 800px 600px;
  background-repeat: no-repeat;

  cursor: pointer;
  font-size: 2em;
  color: white;
}

.game-metadata {
  margin-top: 2em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
}

.game-metadata a {
  text-decoration: none;
}

.teaser {
  text-align: center;
  position: absolute;
  top: 400px;
  left: 70px;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.game-metadata h2 {
  font-style: italic;
}

.cover {
  position: absolute;
  width: 800px;
  height: 600px;
}

.debugger .dg.main > .close-button {
  display: none;
}
