body {
  margin: 0;
  padding: 0;
  background-color: #efefff;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: pixelated;
}

body.scaled {
  background-color: #000000;
  overflow: hidden;
}

.debugger {
  margin-left: 840px;
  font-size: 1.4em;
  line-height: 1.4em;
}

.debugger > ul {
  list-style-type: none;
  padding: 0;
}

.game-metadata img {
  height: 1.4em;
  width: 1.4em;
  vertical-align: bottom;
}

.game-metadata .url {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.8em;
}

body.natural #engine-container {
  width: 800px;
  height: 600px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.9),
    0 8px 16px -8px rgba(0, 0, 0, 0.95), 0 -6px 16px -6px rgba(0, 0, 0, 0.5);
}

body.scaled #engine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body.natural #engine-container,
body.natural #engine-container canvas {
  border-radius: 16px;
}

.production #engine-container {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

body.natural .development #engine-container {
  position: fixed;
  top: 16px;
  left: 16px;
}

.development .debugger .links {
  margin-bottom: 0;
}

.development .debugger .links li {
  display: inline-block;
  margin-right: 0.5em;
}

.development .debugger .links li a {
  text-decoration: none;
  color: blue;
}

.production #engine-container {
  position: relative;
}

#engine-container.activate {
  background-size: 800px 600px;
  background-repeat: no-repeat;

  cursor: pointer;
  font-size: 2em;
  color: white;
}

#engine-container #controls {
  position: absolute;
  bottom: 2px;
  right: 40px;
  height: 32px;
  user-select: none;
  cursor: default;
}

body.scaled #engine-container #controls {
  opacity: 0;
  transition: opacity 0.5s linear;
  position: fixed;
  bottom: 20px;
  background: #191919;
  border-radius: 16px;
  padding: 8px 16px;
}

body.scaled.mouseMoved #engine-container #controls {
  opacity: 1;
}

#engine-container #controls .volume,
#engine-container #controls .fullscreen {
  display: inline-flex;
  vertical-align: middle;
  color: white;
}

#engine-container #controls .volume input {
  cursor: pointer;
}

#engine-container #controls div + div {
  margin-left: 20px;
}

#engine-container #controls .fullscreen .button {
  cursor: pointer;
  border: 1px solid white;
  padding: 0px 4px;
  height: 20px;
  transition: background-color 0.2s linear;
  background-color: #000000;
  border-radius: 4px;
}

#engine-container #controls .fullscreen .button:hover {
  background-color: #303030;
}

#engine-container #controls .fullscreen .label {
  font-size: 18px;
  width: 100%;
}

#engine-container #controls .fullscreen .label.enter {
  transform: rotate(-45deg);
  width: 14px;
  line-height: 24px;
}

#engine-container #controls .fullscreen .label.exit {
  line-height: 20px;
}

.game-metadata {
  margin-top: 2em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
}

.game-metadata a {
  text-decoration: none;
}

.game-metadata h2 {
  font-style: italic;
}

.cover {
  position: absolute;
  width: 800px;
  height: 600px;
}

body.scaled .debugger {
  display: none;
}

.debugger .dg.main > .close-button {
  display: none;
}

.debugger .dg .property-name {
  width: 60%;
}

.debugger .dg .c {
  width: 40%;
}

.debugger .dg li:not(.folder):nth-child(even) {
  background: #202020;
}

.debugger .dg .cr.function:hover,
.debugger .dg .cr.boolean:hover {
  background: #3c3c3c !important;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #303030;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #303030;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #303030;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #303030;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
